<html ng-app="Demo" ng-controller="DemoController">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1,maximum-scale=1,minimal-ui">
    <title>Demo</title>

    <link rel="stylesheet" type="text/css" href="vendor.css?v=0.0.1">
</head>

<body ui-view layout="column" ng-cloak>

    <md-input-container ng-model-options="{'updateOn': 'default blur','debounce': {'default': 1000,'blur': 0}}">
        <label>Search</label>
        <input ng-model="paginationOptions.searchText" ng-model-options="{'*': '$inherit','debounce': {'default': 0}}" ng-change="searchComments()">
        
    </md-input-container>

    <md-list>
        <md-list-item class="md-2-line">
            <div class="md-list-item-text" layout="row" layout-align="start center">
                <span flex>ID</span>
                <span flex>NAME</span>
                <span flex>EMAIL</span>
            </div>
        </md-list-item>
        <md-list-item class="md-2-line" ng-repeat="comment in comments">
            <div class="md-list-item-text" layout="row" layout-align="start center">
                <span flex>{{comment.id}}</span>
                <span flex>{{comment.name}}</span>
                <span flex>{{comment.email}}</span>
            </div>
        </md-list-item>
    </md-list>

    <pagination options="paginationOptions" get-count="getCount()" on-page-change="onPageChange(options)" on-limit-change="onLimitChange(limit)"></pagination>

<script type="text/javascript">document.write('<script src="' + (location.protocol || 'http:') + '//' + (location.hostname || 'localhost') + ':35729/livereload.js?snipver=1" type="text/javascript"><\/script>')</script>
</body>

<script src="vendor.js?v=0.0.1"></script>
<script src="all.js?v=0.0.1"></script>

</html>